.customShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.userTable {
  @apply bg-slate-800;
  @apply text-white
}

.userTable th {
  @apply border-4 bg-slate-800 text-yellow-400;
}

.userTable td {
  @apply border text-base text-center;
}

.scrollBar-none ::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

 
/* Hide footer (move it out of view) */
.hide-footer {
  transform: translateY(100%);
}

/* Show footer (reset it to original position) */
.show-footer {
  transform: translateY(0);
}

footer {
  transition: transform 0.3s ease-in-out;
}
